.App {
  text-align: center;
  align-items: center;
  /* display: flex; */
  flex-direction: row;
  justify-content: center;
}

.card {
  height: 100px;
  width: 75px;
  background-color: #F5F5DC;
  border-style: solid;
  border-color: #536878;
  color: orange;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 1rem;
  margin: 10px;
  padding: 10px;
}