.App {
  text-align: center;
  align-items: center;
  /* display: flex; */
  flex-direction: row;
  justify-content: center;
}

.card-flip {
  height: 100px;
  width: 75px;
  background-color: lightblue;
  border-style: solid;
  border-color: #536878;
  color: white;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 1rem;
  margin: 10px;
  padding: 10px;
  justify-items: center;
  align-items: stretch;
}


.card {
  height: 100px;
  width: 75px;
  background-color: #F5F5DC;
  border-style: solid;
  border-color: #536878;
  color: blue;
  cursor: pointer;
  position: relative;
}

.card .front {
  transform: rotateY(90deg);
  position: absolute;
} 

.flipped .front {
  transform: rotateY(0deg);
}



